.work_container{
width: 100%;
height: 85vh;
}

.work__container_swiper {
    width: 1100px;
}

.work__card{
  margin-bottom: 4%;
}

.work__img{
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
    margin-top: 15%;
}

@media screen and (max-width: 992px) {

  .work_container{
    height: 50vh;
  }
   .work__container_swiper {
    width: initial;
   }

   .work__card {
    padding: 1.25rem 1.5rem;
   }
}